@{
    ViewData["Title"] = "Home Page";
}
<div class="content">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="https://www.tapeciarnia.pl/tapety/normalne/238554_assasins_creed_mass_effect_hitman_diablo_crysis_batman_wiedzmin.jpg" alt="...">
                <div class="carousel-caption">
                    <h3>FIND YOUR AWESOME GAME</h3>
                    <p>THE BEST GAMES ONLY HERE</p>
                </div>
            </div>
            <div class="item">
                <img src="https://cdn.hipwallpaper.com/i/16/34/z8WGis.jpg" alt="...">
                <div class="carousel-caption">
                    <h3>CHOOSE YOUR GAMES AND BECOME ULTIMATE GAMER</h3>
                    <p>EXPLORE AND HAVE FUN</p>
                </div>
            </div>
            <div class="item">
                <img src="https://i.pinimg.com/originals/15/9e/57/159e57cf5094f6a0d699cd2c6beb9b9b.jpg" alt="...">
                <div class="carousel-caption">
                    <h3>COMMENT, LIKE AND DOWNLOAD YOUR FAVOURITE GAME</h3>
                    <p>BOOST YOUR FAVOURITE GAME TO BECOME MORE POPULAR</p>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<a asp-controller="Game" asp-action="Index" class="button">NOGGENFOGGER GAMES!</a>
