<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Matrix</title>
    <link rel="stylesheet" type="text/css" href="~/css/matrix.css" />
</head>
<body>
    <div class="text">welcome<br><b>admin</b></div>
    <div class="text" style="margin-top:50px;"><br><b>Choose what you want to do</b></div>
    <div class="text" style="margin-top:100px;">
        <br>
        <a href="/matrix" style="color:white;">MANAGE USERS</a>
    </div>
    <div class="text" style="margin-top:150px;">
        <br>
        <a href="/matrix" style="color:white;">MANAGE GAMES</a>
    </div>
    <div class="text" style="margin-top:200px;">
    <br>
    <a href="~/card.txt" style="color:white;" download=""><small>Download someone credit card data</small></a>
    </div>
    <main>
    </main>
    <div class="grid">
        <div class="grid-inner">
            <div class="hori">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="vert">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</body>
</html>
